extends layout

block content
  div(class="container")
    h1 XJTLU pnp

    div(class="row")
      a(href="/example1.html") Example 1
    div(class="row")
      a(href="/example2.html") Example 2



