<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppId" value="YunFace黑马比赛智能迎宾系统" />
    <add key="AppVersion" value="1.1.0.2" />
    <add key="AppKey" value="D1-CF-BC-AF-3B-D9-A3-47-D3-C3-C4-44-4D-EA-05-3D-7A-55-5B-96" />
    <add key="FaceLibraryUrlRoot" value="http://open.ezrong.com:33333/FaceLibrary" />
    <add key="FaceApiUrl" value="http://open.ezrong.com:33333/api/face/" />
    <add key="FaceValidators" value="" />
    <add key="FramesPerCapture" value="5" />
    <add key="FrameInterval" value="1" />
    <add key="CroppingRectangle" value="0:0:0:0" />
    <add key="BorderDetectContourAreaThreshold" value="0" />
    <add key="BorderDetectDelayerCount" value="0" />
    <add key="FaceDetectMinNeighbors" value="10" />
    <add key="FaceDetectMinSize" value="50" />
    <add key="OutlineThickness" value="1" />
    <add key="ZoomSize" value="700:700" />
    <add key="JpegQuality" value="90" />
    <!--http://admin:admin@10.0.0.108/cgi-bin/snapshot.cgi?Channel=0-->
    <!--rtsp://admin:admin@10.0.0.108:554/cam/realmonitor?channel=1&amp;subtype=0-->
    <add key="CaptureSource" value="0" />
    <add key="DeviceId" value="0" />
    <add key="IdentifyingHistoryCount" value="5" />
    <add key="PlayingQueueLength" value="3" />
    <add key="MatchingFaceCount" value="2" />
    <add key="DefaultGreetingWords" value="欢迎光临！" />
    <add key="DefaultTag" value="ezrong.com" />
    <add key="VideoBoxOpacity" value="0.9" />
    <add key="IdentityMask" value="*" />
    <add key="IdentitySimilarity" value="true" />
    <add key="AdsInterval" value="5000" />
    <add key="AdsVolume" value="0" />
    <add key="CommandByShell" value="true" />
    <add key="CommandWithWindow" value="false" />
    <add key="CommandOnAuthenticated" value="speak" />
    <add key="CommandArgsOnAuthenticated" value="欢迎光临" />
    <add key="CommandArgsEscaping" value="&quot;:&quot;&quot;&quot;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>